<!-- the turbo_frame_tag helper can take an object and
automatically produce a dom_id from it -->
<%= turbo_frame_tag quote do %>
  <div class="quote">
    <!-- since there is no matching turbo frame for the show page,
    use the built-in `_top` frame to  target the whole page -->
    <%= link_to quote.name,
                quote_path(quote),
                data: { turbo_frame: "_top" } %>
    <div class="quote__actions">
      <%= button_to "Delete",
                    quote_path(quote),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_quote_path(quote),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
