<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                data: { turbo_frame: "new_form" },
                class: "btn btn--primary"
    %>
  </div>

    <!-- All three of this approaches for this form have the same result:
    turbo_frame_tag "new_quote"
    turbo_frame_tag Quote.new
    turbo_frame_tag @quote
    I chose the string version just to be very explicit in this learning app. -->
    <%= turbo_frame_tag 'new_form' %>

    <!-- This 'quotes' id will be used in the views/quotes/create.turbo_stream.erb -->
    <%= turbo_frame_tag 'quotes' do %>
      <%= render @quotes %>
    <% end %>
</main>
