<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>New quote</h1>
  </div>
  <!-- This is the piece of the page I want to have appear on the index page: -->
  <%= turbo_frame_tag 'new_form' do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>

<!-- When our user clicks on the "Cancel" link for the new quote form:
1. The link is within a Turbo Frame of id new_form, so Turbo will only replace
the content of this frame
2. The link navigates to the Quotes#index page that contains an empty Turbo
Frame with id new_form
3. Turbo replaces the content of the new_quote frame with the empty content,
so the form disappears
-->
