<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>New quote</h1>
  </div>
  <!-- this is the piece of the page I want to have appear on the index page: -->
  <%= turbo_frame_tag 'new_form' do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>
